@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color:white;
}

.nav-item{
    @apply block py-3 px-5 hover:text-white hover:bg-black hover:cursor-pointer transition-colors duration-500;
}

.loader {
    @apply w-8 h-8 border-4 animate-spin fixed top-10 right-10 border-[#eeeeee];
    
    border-radius:50%;

    border-top: 4px solid #FE332E;
    /* border-top: 4px solid #d711b6; */
    /* border-bottom: 4px solid #d711b6; */

    /* animation: spin 2s linear infinite; */
  }